.header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 2rem; 
  }
  
  .logo {
    width: 10rem;
    height: auto; 
  }
  
  .header-menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0; 
    padding: 0; 
  }
  
  .header-menu li {
    color: white;
    cursor: pointer;
  }

  .header-menu li:hover {
    color: #f48915;
    cursor: pointer;
  }

